// Viewport Sizes
$desktop-width: 1920px;
$desktop-height: 1080px;

$tablet-width: 1024px;
$tablet-height: 1366px;

$mobile-width: 430px;
$mobile-height: 932px;

//Breakpoint Sizes
$breakpoint-tablet: 1199px;
$breakpoint-mobile: 767px;
