.grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  z-index: 10000;
}

.debugger {
  position: absolute;
  inset: 0;

  span {
    background: #ff5f5f;
    opacity: 0.1;
  }
}
