.body {
  font-weight: 400;
  line-height: 120%;

  &_18 {
    font-size: rem(18px);
    letter-spacing: -0.03em;

    @include tablet {
      font-size: rem(16px);
    }
  }

  &_16 {
    font-size: rem(16px);
    letter-spacing: -0.02em;
  }
}